#container{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
}
#values{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: rgb(32, 87, 206);
    height: 100vh;
}
#cropSelect{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: rgb(32, 87, 206);
    height: 100vh;
}
.value{
    display: flex;
    /* background-color: antiquewhite; */
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.text{
    float: left;
    width: 50%;
    height: auto;
    /* background-color: aquamarine; */
}
.inputvalue{
    /* background-color: aqua; */
    height: auto;
    width: 50%;
}
.inputbtn{
    display: flex;
    gap: 10px;
    height: auto;
    width: 50%;
}
.input{
    font-size: 20px;
    height: 50px;
}

.textvalue{
    font-size: 22px;
    color: white;
    float: right;
    margin-right: 20px;
}